
/vendor
/node_modules
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views


.env
.env.* 
.phpunit.result.cache


/docker-compose.yml
/Dockerfile

/.dockerignore

/package-lock.json


.idea
.vscode
*.log
*.bak
*.tmp
*.swp
*.DS_Store
Thumbs.db

# ------------------------------------
# 🧪 Tests / Docs (not needed in prod)
# ------------------------------------
/tests
/.git
/.github
/docs
